/* General styles for the header */
.header-toolbar {
    display: flex;
    flex-direction: line;
    justify-content: space-between;
    align-items:center;
    padding: 1rem;
    text-align: center;
    width: 100%;
    height: auto;
    
  
    /* Box shadow for a clean, elevated look */
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .header-title {
    
  
    h1 {
      margin: 0;
      font-size: 2rem;
      font-weight: bold;
    }
  
    p {
      margin: 0.5rem 0 1rem;
      font-size: 1rem;
      opacity: 0.8;
    }
  }
  
  /* Styles for the navigation links */
  .header-links {
    display: flex;
    align-self: flex-end;
    gap: 2rem;
  
    a {
      font-size: 1rem;
      margin: auto;
      text-transform: uppercase;
      font-weight: bold;
      width: 7rem;
      border-radius: 20px;
  
      /* Add hover and focus effects */
     
    }
}
   

.btn{
  // margin-top: -0.1rem;
  // margin: -0.1rem 0 -0.3rem -0.3rem;
  // margin : -0.1rem 0 -0.3rem -0.3rem;
  margin-top:-0.1rem ;
  margin-left: -0.3rem;
  margin-right: -0.3rem;
  
}
  