/* General styles for the header */
.header-toolbar {
    display: flex;
    flex-direction: line;
    justify-content: space-between;
    align-items:center;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    height: auto;
    
  }
  
  .icon {
    display: flex;
    align-items: center;
  }
  
  .icon svg {
    vertical-align: bottom;
  }

  .header-title {
    font-family: "Permanent Marker", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    
  
    h1 {
      margin: 0;
      font-size: 2rem;
      // font-weight: bold;
      font-family: "Permanent Marker", serif;

    }
  
    p {
      margin: 0.5rem 0 1rem;
      font-size: 1rem;
      opacity: 0.8;
    }
  }
  
  /* Styles for the navigation links */
  .header-links {
    display: flex;
    align-self: flex-end;
    gap: 2rem;
    padding: 1rem;
  
    a {
      font-size: 1rem;
      margin: auto;
      text-transform: uppercase;
      font-weight: bold;
      width: 7rem;
      border-radius: 20px;
  
      /* Add hover and focus effects */
     
    }
}
   

.btn{

  margin-top:-0.1rem ;
  margin-left: -0.3rem;
  margin-right: -0.3rem;
  font-family: "Permanent Marker", serif;
  font-weight: bold;
  
}
  