<div
  class="board"
  [style.width.px]="boardWidth"
  [style.height.px]="boardHeight"
  (mousemove)="onMouseMove($event)"
>
  <!-- <div class="snake-info">
    <p>snake position:</p>
    <p>X: {{ this.mouseX | number : "1.0-2" }} px</p>
    <p>Y: {{ this.mouseY | number : "1.0-2" }} px</p>
    <p>X: {{ this.boardWidth | number : "1.0-2" }} px</p>
    <p>Y: {{ this.boardHeight | number : "1.0-2" }} px</p>
    <p> Keyboard angle : {{ this.keyboardAngle | number : "1.0-2" }}</p>
    <p> Snake angle : {{ this.angles[0] | number : "1.0-2" }}</p>
  </div> -->

  <div class = "snake-parameters-container">
  <mat-card class="snake-parameters">
    <mat-card-content>
      <section>
        <label>Colors :</label>
        <mat-radio-group color="accent" aria-label="Select a color" [(ngModel)]="choosedColor" (change)="onColorChange()">
        <mat-radio-button value="Cobra"> Cobra </mat-radio-button>
          <mat-radio-button value="Python"> Python </mat-radio-button>
          <mat-radio-button value="BlackMamba"> Black Mamba </mat-radio-button>
        </mat-radio-group>
        
      </section>

      <section>
        <label>Movement :</label>
        <mat-radio-group color="accent" aria-label="Select a movement" value="keyboard"  (change)="toggleMovement()">
          <mat-radio-button value="mouse"> Mouse </mat-radio-button>
          <mat-radio-button value="keyboard"> Keyboard </mat-radio-button>
        </mat-radio-group>
        
      </section>

      <section>
        <label>Visual :</label>
        <mat-radio-group color="accent" aria-label="Select a movement" value="snake"  (change)="toggleVisual()">
          <mat-radio-button value="snake"> Snake </mat-radio-button>
          <mat-radio-button value="chain"> Chain </mat-radio-button>
        </mat-radio-group>
        
      </section>

      <section class="size-section">
        <label>Snake lenght :</label>
        <mat-slider color="accent" [max]="50" [min]="5" [step]="5" [discrete]="true">
          <input matSliderThumb [(ngModel)]="jointLength" #slider />
        </mat-slider>
      </section>
    </mat-card-content>

  </mat-card>

  <ng-container *ngIf="isKeyboardMode">
  <mat-card class="snake-controls">
    <label style ="align-self: center; margin: 1rem;"> ('m' for toggle)</label>
    
    <mat-card-content>
      <div class="arrow-buttons">
        <!-- Left Arrow Button -->
        <button
          mat-mini-fab 
          color="primary"
          [class.active]="this.pressedKeys.has('ArrowLeft')"
          (mousedown)="this.pressedKeys.add('ArrowLeft')"
          (mouseup)="this.pressedKeys.delete('ArrowLeft')"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
  
        <!-- Up Arrow Button -->
        <button
        mat-mini-fab 
          color="primary"
          [class.active]="this.pressedKeys.has('ArrowUp')"
          (mousedown)="this.pressedKeys.add('ArrowUp')"
          (mouseup)="this.pressedKeys.delete('ArrowUp')"
        >
          <mat-icon>arrow_upward</mat-icon>
        </button>
  
        <!-- Right Arrow Button -->
        <button
        mat-mini-fab 
        color="primary"
          [class.active]="this.pressedKeys.has('ArrowRight')"
          (mousedown)="this.pressedKeys.add('ArrowRight')"
          (mouseup)="this.pressedKeys.delete('ArrowRight')"
        >
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>

      
    </mat-card-content>
  </mat-card>
</ng-container>
</div>


  <canvas
    id="snakeCanvas"
    [attr.width]="boardWidth"
    [attr.height]="boardHeight"
  ></canvas>
</div>
